<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some twig</title>
</head>
<body>

Beautiful title
<h1>{{ twig }}</h1>
</body>
</html>