{% extends 'layouts/default.html.twig' %}

{% block main %}

<main class="container">
  <div class="bg-body-tertiary p-5 rounded">
    <h1>Navbar for PHP Framework</h1>
    <a class="btn btn-lg btn-danger" href="{{ youTubeChannel }}" target="_blank" role="button">Перейти на YouTube &raquo;</a>
  </div>
</main>

{% endblock %}

